<nav>
  <a href="/#">Index</a>
  <a href="Artists">Artists</a> 
  <a href="Customers">Customers</a> 
  <a href="releases">Releases</a> 
  <a href="tracks">Tracks</a>
  <a href="orders">Orders</a>
  <a href="releaseorders">ReleaseOrders</a>
</nav>

<main>

<section id="index-background">
<h1 id="index"> Artistcamp</h1>
<p> 
   Artistcamp is an online music distribution platform recently sold by Epic Games to Songtradr.
   Users have collectively spent over $1.19 billion via the Hot Plate client applications. 
   This includes 14 million albums, 10 million tracks, 1.8 million vinyl records, and 100,000 t-shirts this year alone. 
   As such, high systematization is needed to process these user-driven payments. 
   Furthermore, a database driven backend is necessary to store the larger quantities of data, much of it being audio files, release information, album art, customer profiles, etc... 
   The database driven backend, then, will track the Artist and their Releases. 
   These Releases will have a set of Tracks, and once a specific Customer has found a release to purchase, they can place an Order.
    To track the number of orders a Release has received, it will be connected to ReleaseOrders, which will also be connected to Orders. 
    This backend will prop up a large, ecommerce platform, and as such, it will handle a constant inflow of transactions warranting a database.
</p> 
</section>
    
  </body>

</main>

<link rel="stylesheet" href="./css/global.css">
